*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}

#myVideo {
    position: fixed;
    top: 50%;
    left: 50%;



    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
}

a{
    text-decoration: none;
}
.bitlogo1{
  display: block;
  margin-left: 20px;
  margin-top: 20px;
  width: 110px;
}
.logo1
{
  display: block;
  margin: auto;
  margin-top: -30px;
  width: 180px;
}
.vlogo1{
  display: block;
  margin: auto;
  margin-top: -40px;
  width: 380px;
}
.bleed1{
  display: block;
  margin: auto;
  margin-top: -40px;
  width: 480px;
}
.date1
{
  display: block;
  margin: auto;
  margin-top: -30px;
  width: 420px;
}
.myBtn{
  display: block;
  margin: auto;;
  margin-top: -50px;
}
.myBtn
{
  display: block;
  width: 300px;
  font-size: 18px;
  padding: 10px;
  background: #f9bd22;
  color: #2f2424;
  cursor: pointer;
  position:relative;
  margin: auto;
  border-radius: 5px;
  text-align: center;
   font-family: 'Exo',sans-serif;
   margin-top: 20px;
}
.fa-facebook-official {
    font-size: 32px;
    position: absolute;
    display: block;
    color: #ff7614;
    left:47%;
    margin-top: 20px;
}
.fa-instagram{
  display: block;
     font-size: 32px;
    position: absolute;
    color: #ff7614;

    left: 51%;
    margin-top: 20px;
}
@media screen and (max-width:550px) {
  .overlay nav{
    font-size: 30px;
  }
  .bitlogo1{
    width: 80px;

  }
  .logo1{
    width:150px;
    margin-top: 20px;
  }
  .bleed1{
    width:360px;
    margin-top: -20px;
  }
  .vlogo1{
    width:230px;
    margin-top: -20px;
  }
  .date1{
    width:300px;
    margin-top: -15px;
  }
  .myBtn
  {
    width: 180px;
    font-size: 12px;
  }
  .fa-facebook-official{
    left:38%;
    font-size: 30px;
  }
  .fa-instagram{
    left:54%;
    font-size: 30px;
  }
}
@media screen and (max-width:450px) {
  .bitlogo1{
    width: 80px;

  }
  .logo1{
    width:30%;
    margin-top: 20px;
  }
  .bleed1{
    width:80%;
    margin-top: -20px;
  }
  .vlogo1{
    width:50%;
    margin-top: -20px;
  }
  .date1{
    width:70%;
    margin-top: -15px;
  }
  .myBtn
  {
    width:45%;
    font-size: 12px;
    margin-top: 40px;
  }
  .fa-facebook-official{
    left:38%;
    font-size: 30px;
  }
  .fa-instagram{
    left:54%;
    font-size: 30px;
  }
}
@media screen and (max-width:350px) {
  .bitlogo1{
    width: 70px;

  }
  .logo1{
    width:35%;
    margin-top: 20px;
  }
  .bleed1{
    width:85%;
    margin-top: -20px;
  }
  .vlogo1{
    width:60%;
    margin-top: -20px;
  }
  .date1{
    width:75%;
    margin-top: -20px;
  }
  .myBtn
  {
    width: 50%;
    font-size: 12px;
  }
  .fa-facebook-official{
    left:37%;
    font-size: 30px;
  }
  .fa-instagram{
    left:55%;
    font-size: 30px;
  }
}
